@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
}


/* ---- Navbar ---- */

.container {
    max-width: 1600px;
    margin: auto;
    padding: 40px;
}

.nav-logo {
    list-style-type: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navigation {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 10px;
}


/* ---- Home ---- */

.banner {
    width: 100%;
}

.produtos-texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1600px;
    margin: 25px auto;
}

.produtos-container {
    border-bottom: 1px solid #A5A1A1;
}