@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;400;700;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
}


/* ---- Navbar ---- */

.container {
    max-width: 1300px;
    margin: auto;
    padding: 40px;
}

.nav-logo {
    list-style-type: none;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.site-navigation {
    display: flex;
    align-items: center;
}

.nav-links {
    list-style-type: none;
    margin: 10px;
}


/* ---- Home ---- */

.banner {
    width: 100%;
}

.produtos-texto {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 25px auto;
}

.produtos-container {
    border-bottom: 1px solid #A5A1A1;
}


/* ---- CARDS ---- */

.allcards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    justify-content: center;
    justify-items: center;
    grid-gap: 150px;
}

img {
    width: 100%;
    object-fit: cover;
}

.card-img img {
    width: 300px;
    height: 300px;
}

.card-img h4 {
    font-size: 1.2rem;
    font-weight: 500;
    margin: 10px auto;
}

.card-detalhes {
    font-size: 1rem;
    font-weight: bold;
}

span {
    font-weight: 700;
    color: #5CA720;
    font-size: 1.5rem;
}

.navigation-contato a {
    text-decoration: none;
    color: #161616;
    font-weight: 600;
}

.navigation-contato li {
    list-style-type: none;
    margin: 10px auto;
}

.contatos {
    background: #F9F9F9;
    padding: 50px;
}

.contato-info {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 25px auto;
}

a:hover {
    color: #5CA720;
}

.letter-form label {
    font-size: 1rem;
    font-weight: bold;
}

.newletter-input {
    margin: 7px;
}

.newletter-input input {
    float: left;
    width: 355px;
    height: 50px;
    border-radius: 5px 0px 0px 5px;
    border-color: #ededed;
    border-style: solid;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    border-width: 1px 0px 1px 1px;
    padding: 5px;
    outline: 0;
}

.newletter-input .btn {
    background-color: #5CA720;
    width: 115px;
    height: 50px;
    color: #ffffff;
    cursor: pointer;
    border-style: solid;
    border: #ededed;
    font-family: 'Lato', sans-serif;
    border-radius: 0px 5px 5px 0px;
    font-size: 1rem;
    font-weight: bold;
    border-width: 1px 1px 1px 0px;
}

.newletter-input ::placeholder {
    color: #A5A1A1;
}

.btn:hover {
    background-color: #707070;
    transition: 2s;
}